.App {
  max-width: 600px;
  margin: 0 auto;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2,
h3,
h4,
p,
li,
a {
  color: #475355;
}

h1 {
  text-align: right;
  font-weight: 700;
  font-size: 100px;
}

h2 {
  font-weight: 700;
  font-size: 26px;
}

h2:first-letter {
  text-transform: capitalize;
}

p {
  text-align: right;
  font-size: 18px;
}

li {
  list-style: none;
  display: inline;
  font-size: 18px;
  font-weight: 700;
}

a {
  text-decoration: none;
}
